
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">

<link rel="stylesheet" href="guestbook.css">
 
    
</head>
<body class="container">

<div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">   <span>TarunKumar</span></h1>
                <nav>
                      <!--<li><a href="index.html">Home</a></li>
                        <li><a href="myapp.html"> myapp</a></li>
                        <li><a href="contact.html">Contact Me</a></li>-->
      <ul>
         <li class="active"><a href="http://127.0.0.1:8081/index.html">Home</a></li>
        <li><a href="http://127.0.0.1:8081/myapp.html">My App</a></li> 
        <li><a href="http://127.0.0.1:8081/Contact.html">Contact Me</a></li> 
        <li><a href="http://127.0.0.1:8081/guestbook">GuestBook</a></li>
                    </ul>
                </nav>
            </header>
        </div>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>


