*
/*{
background-image:  url("tarunkumar.jpg");
}*/
/*html { 
  background: url("tarunkumar.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
body {
    background-image: url('tarunkumar.jpg');
    background-repeat: no-repeat;
     /*background-position: center;*/
 background-size: cover; 
}

h1
{
color:firebrick;
}
h2
{
    color:tomato;
}
